trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Terraform_Checks
  displayName: "Terraform fmt, validate & plan"
  jobs:
    - job: Plan
      steps:
        - task: TerraformInstaller@1
          displayName: Install Terraform
          inputs:
            terraformVersion: 'latest'
      
        - task: TerraformTask@5
          displayName: Terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'Shekhar-SVC'
            backendAzureRmStorageAccountName: 'stg50411'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'task.terraform.tfstate'
        
         
        - task: TerraformTask@5
          displayName: Terraform Validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
        
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)parent_module'
            environmentServiceNameAzureRM: 'Shekhar-SVC'


- stage: Manual_Approval
  displayName: "Manual Validation"
  dependsOn: Terraform_Checks
  jobs:
    - job: Approval
      pool: server
      steps:
        - task: ManualValidation@0
          inputs:
            instructions: |
              Review Terraform plan output.
              Approve to proceed with APPLY.
            
- stage: Terraform_Apply
  displayName: "Terraform Apply"
  dependsOn: Manual_Approval
  condition: succeeded()
  jobs:
    - job: Apply
      steps:

        - task: TerraformTaskV4@4
          displayName: "Terraform Init"
          inputs:
            provider: azurerm
            command: init
            workingDirectory: $(System.DefaultWorkingDirectory)
            backendServiceArm: Shekhar-SVC
            backendAzureRmResourceGroupName: sgrg1000
            backendAzureRmStorageAccountName: stg50411
            backendAzureRmContainerName: tfstate
            backendAzureRmKey: task.terraform.tfstate

        - download: current
          artifact: tfplan

        - task: TerraformTaskV4@4
          displayName: "Terraform Apply"
          inputs:
            provider: none
            command: apply
            workingDirectory: $(System.DefaultWorkingDirectory)
            environmentServiceNameAzureRM: Shekhar-SVC
            commandOptions: "tfplan"
